/* CSS declarations go here */
body {
	font-family: 'Roboto', sans-serif;
	background: #EBEEF0;
	margin: 0;
}


.drawer-logo {
	padding-top: 80px;
	background: #ECC63F url(images/bg-illustration.svg) no-repeat center -200px;
	background-size: 190%;
}

.drawer-logo img {
	width: 90%;
	margin: 5%;
}