a {
  color: #455a64; }

fieldset {
  border: none; }

.rounded, .rounded > button {
  border-radius: 1000px !important;
  overflow: hidden; }

.button > button {
  height: auto !important; }

.button > button > div > div {
  padding: 8px !important; }

object[type="application/gas-events-uni"] {
  display: none; }

.main-layout main {
  margin: auto;
  padding: 0 16px; }

@media (min-width: 720px) {
  .main-layout main {
    max-width: 720px; } }

.main-layout .workshop {
  margin: 8px; }
  .main-layout .workshop svg {
    vertical-align: middle; }
  .main-layout .workshop .meta-infos {
    display: flex; }
    .main-layout .workshop .meta-infos > div {
      flex: 1 0 30%; }

.not-found {
  color: #455A64; }
  .not-found h1 {
    margin: 0;
    line-height: 1;
    font-size: 8rem;
    margin-top: 2rem;
    font-weight: bolder;
    text-shadow: 10px 10px 0px #B0BEC5; }
  .not-found h2 {
    margin-top: 1rem; }

form fieldset {
  width: 100%;
  margin: 0; }

form .title-field {
  margin: -16px;
  padding: 16px; }
  form .title-field label, form .title-field input {
    font-size: 28px !important; }
  form .title-field label {
    opacity: 0.7;
    line-height: 10px !important; }

.login-layout {
  color: #fff;
  background: #202020;
  min-height: 100vh;
  overflow-y: hidden; }
  .login-layout a {
    color: #F2F2F2; }
  .login-layout .login-form {
    max-width: 540px;
    margin: auto;
    box-shadow: 0 0 28px 2px rgba(0, 0, 0, 0.5);
    padding: 16px;
    margin-top: 5%; }
    .login-layout .login-form fieldset {
      margin-bottom: 40px; }
  .login-layout .logo {
    max-width: 400px;
    background: url("../images/logo.svg") no-repeat center 50px;
    background-size: 75%;
    text-indent: -9999px;
    padding: 32px;
    padding-top: 60px;
    margin: 0 auto; }
  .login-layout fieldset > div {
    width: 100%; }

@media (max-width: 640px) {
  .login-layout .login-form {
    box-shadow: none;
    margin-top: 0; } }

